if SHIELD_ERGOTHWACK_RIGHT

config ZMK_KEYBOARD_NAME
    default "ergoTHWACK"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config I2C
    default y

endif

if SHIELD_ERGOTHWACK_LEFT || SHIELD_ERGOTHWACK_RIGHT

config ZMK_SPLIT
    default y

endif